@import url(http://fonts.googleapis.com/css?family=Nunito:400,300,700);
* {
  font-family: "Nunito";
  color: #555; }

.center {
  text-align: center; }

.screen {
  width: 960px;
  margin: auto; }
  .screen h1 {
    padding: 40px;
    font-weight: 300; }
  .screen .mapFrameHome {
    width: 960px;
    height: 450px;
    margin: auto;
    margin-bottom: 200px;
    margin-top: 100px; }
