.content{
    margin: 60px;
    width: 100%;
    
    #options{
//        border: 1px solid black;
//        padding: 2px;
    }
    
    #lang{
        display: inline-block;
        width: 70px;
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 20;
    }
    
    .radio{
        margin-right: 1%;
    }
    
    .radio + .radio{
        margin-top: 0;
    }
    
    .submiit{
        margin-top: 20px;
        border-color: #34495E;
    }
    
    .tagsinput-primary{
        border-color: #34495E;
    }
}

