.content{
    margin: 60px;
    
    #options{
//        border: 1px solid black;
//        padding: 2px;
    }
    
    #lang{
        display: inline-block;
        width: 70px;
        position: absolute;
        top: 62px;
        right: 60px;
    }
    
    .radio{
        margin-right: 1%;
    }
    
    .radio + .radio{
        margin-top: 0;
    }
}

