.head-title {
	font-size: 28px;
	color:#2C3E50;
}
.screen {
	width:960px;
    margin: auto;
    margin-bottom: 200px;
	h1 {
		padding: 40px;
		font-weight: 300;
	}
}
$form_width: 300px;
.form {
	position:fixed;
	left:0;top:0;bottom:0;
	width:$form_width;
	padding: 20px;
	z-index: 10;

    border-right: 1px solid #E4E4E4;
    .background {
    	width:$form_width;
    	position:fixed;
		left:0;top:0;bottom:0;
    	z-index: -1;
    	background:#FCFCFC;
    }
}
.map {
	position: fixed;
	left:$form_width;top:0;bottom:0;right:0;
	.mapFrameHome{
		position: absolute;
		left:0;top:0;bottom:0;right:0;
		width:100%;height:100%;
	}
}

div.bootstrap-tagsinput {
	max-height: 160px;
	overflow: auto;
}

#info-box {
	text-align: left;
	span {
		line-height: 40px;
		padding: 0; margin: 0;
		font-size: 36px;
	}
	.name {
		color: #555;
	}
	.info {
		color: #F92772;
	}
	background-color: rgba(255, 255, 255, 0.8);
	line-height: 40px;
	padding: 0 20px; margin: 0;
	font-size: 36px;
	position: absolute;
	left:0;bottom:0;
	z-index: 20;
}
body {
	overflow: hidden;
}
#lang {
	-webkit-appearance:none;
}
.map-labels {
   color: red;
   background-color: white;
   font-size: 10px;
   font-weight: bold;
   text-align: center;
   width: 60px;     
   border: 2px solid black;
   white-space: nowrap;
   z-index: 20;
 }